{{test}}
<form (ngSubmit)="onSubmit()">
  <fieldset>
    <div class="form-group">
      <label for="source">Source</label>
      <input type="text" id="SourceInput" class="form-control" placeholder="Source" required name="source"
      [(ngModel)]="model.source">
    </div>
    <div class="form-group">
      <label for="target">Target</label>
      <input type="text" id="TargetInput" class="form-control" placeholder="Target" required name="target"
      [(ngModel)]="model.target">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </fieldset>
</form>