<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Source</th>
    <th scope="col">Target</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let entry of x; index as i">
    <th scope="row">{{ entry.id }}</th>
    <td>{{ entry.source}}</td>
    <td>{{ entry.target }}</td>
    <td><a href="javascript:void(0);" (click)="delete(entry.id)"><i class="material-icons md-light">
      delete
      </i> </a></td>
  </tr>
  </tbody>
</table>

